## Introduction to Databases

### Exercises

In [1]:
import os
import sys
import time
import datetime
import numpy as np
import pandas as pd

import sqlite3

### 1st exercise - Matrix
#### Acessing [SQLite](https://docs.python.org/3/library/sqlite3.html) and creating database

In [2]:
conn = sqlite3.connect(os.path.join("..","SampleDBs",'matrix.db'))

In [3]:
cur = conn.cursor()

In [4]:
query = '''
CREATE TABLE matrixA (
    row_num TINYINT,
    col_num TINYINT,
    value TINYINT
);
'''

cur.execute(query)

In [5]:
query = '''
CREATE TABLE matrixB (
    row_num TINYINT,
    col_num TINYINT,
    value TINYINT
);
'''

cur.execute(query)

In [6]:
query = '''
INSERT INTO matrixA (row_num, col_num, value)
VALUES
(1, 1, 4),
(1, 2, 2),
(1, 3, 6),
(2, 1, 2),
(2, 2, 5),
(2, 3, 7);
'''

cur.execute(query)

In [7]:
query = '''
SELECT * from matrixA;
'''

cur.execute(query)
for row in cur.fetchall():
    print(row)

(1, 1, 4)
(1, 2, 2)
(1, 3, 6)
(2, 1, 2)
(2, 2, 5)
(2, 3, 7)

In [8]:
query = '''
INSERT INTO matrixB (row_num, col_num, value)
VALUES
(1, 1, 2),
(1, 2, 4),
(1, 3, 8),
(2, 1, 1),
(2, 2, 5),
(2, 3, 10),
(3, 1, 3),
(3, 2, 6),
(3, 3, 9);
'''

cur.execute(query)

In [9]:
query = '''
SELECT A.row_num, B.col_num, SUM(A.value * B.value) AS result
FROM matrixA AS A
INNER JOIN matrixB AS B
ON A.col_num = B.row_num
GROUP BY A.row_num, B.col_num;
'''

cur.execute(query)
for line in cur.fetchall():
    print(line)

(1, 1, 28)
(1, 2, 62)
(1, 3, 106)
(2, 1, 30)
(2, 2, 75)
(2, 3, 129)

In [10]:
conn.close()
os.remove(os.path.join("..","SampleDBs",'matrix.db'))